body{
    background-color: rgb(212, 128, 18);
}

input{
    padding: 7px;
    margin: 10px;
}
.transaction{
    background-color: red;
    height: 2000px;
    width: 200px;
    border: 1px solid red;
    
}

